

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  letter-spacing: 0.05rem;
  display: flex;
}

 div {
    border: 2px solid #2ecc71;
    margin-left: 6px;
}


nav {
  float: left;
  width: 20%;
}

footer {
}

header, nav, footer {
  padding: 20px;
}


header {
  font-family: "Graduate", serif;
  font-size: 1.5rem;
  text-align: center;
}

h1 {
  font-family: "Graduate", serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
} 


p {
  font-size: 0.925rem; /* 14px/16=0.875em */
  text-indent: 1.45rem;
  text-align: justify;
}

a:link {
  color: #167;
}

a:visited {
  color: #08a;
}

a:hover {
  color: #a66;
  text-decoration: none;
}

a:focus {
  color: #a66;
  text-decoration: none;
  outline: none;
}

a:active {
  color: rgb(255, 0, 162);
}




ul {
  line-height: 125%;
  font-size: 0.925rem; 
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: circle;
}

nav li {
}



  @media screen and (max-width: 768px) {
    body {
        gid-auto-flow: row;
        display: flex;
    } 
 }
 
 .ralewayClass {
   font-family: "Raleway", sans-serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
 }
 
 .graduate-regular {
   font-family: "Graduate", serif;
   font-weight: 400;
   font-style: normal;
 }
 
 .bevan-regular {
   font-family: "Bevan", serif;
   font-weight: 400;
   font-style: normal;
 }
 
 .bevan-regular-italic {
   font-family: "Bevan", serif;
   font-weight: 400;
   font-style: italic;
 }